*
!/README.md
!.bashrc
!.vim
!.vim/*
!.vim/*/*
!.vim/tgz
!.vim/*/*/*
!.vim/*/*/*/*
!.vimrc
!.ackrc
!.tmux.conf
!.gitignore
!.gitmodules
!.gitignore_global
!.git-prompt.sh
!.git-completion.bash
!.irbrc
!.inputrc
!.font/
!.font/*
!.scripts/
!.scripts/*
!.scripts/*/*
.vim/.netrwhist
!.rubocop.yml
!.eslintrc
!.agignore
!.gitconfig
!.Xdefaults
!.Xresources
!.xinitrc
!.xmonad/**
.xmonad/xmonaderrors
!.cdmrc
!.xmobarrc
