[user]
	email = unceus@users.noreply.github.com
	name = Michael R. Joseph

[color]
	ui = auto

[difftool]
	prompt = false

[diff]
	tool = vimdiff

[merge]
	tool = opendiff

[alias]
  fmerge   = merge --no-ff
  ffonly   = merge --ff-only
  co       = checkout
  stat     = status -sb
  st       = status -sb
  dt       = difftool
  rc       = rebase --continue
  ra       = rebase --abort
	d        = difftool
  chardiff = diff --color-words=.
  worddiff = diff --color-words
  conflicts=diff --check
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
[rerere]
	enabled = false
[help]
	autocorrect = 1
[push]
	default = current
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[cola]
	fontdiff = Monospace,8,-1,5,50,0,0,0,0,0
	spellcheck = false
[pull]
	rebase = false
[init]
	defaultBranch = master
