[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
  ignore = dirty
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
  ignore = dirty
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
  ignore = dirty
[submodule ".vim/bundle/vim-sparkup"]
	path = .vim/bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
  ignore = dirty
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
  ignore = dirty
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
  ignore = dirty
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
  ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
  ignore = dirty
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
  ignore = dirty
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/unceus/vim-matchit.git
  ignore = dirty
[submodule ".vim/bundle/color-sampler-pack"]
	path = .vim/bundle/color-sampler-pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
  ignore = dirty
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
  ignore = dirty
[submodule ".vim/bundle/github-theme"]
	path = .vim/bundle/github-theme
	url = https://github.com/ricardovaleriano/vim-github-theme.git
  ignore = dirty
[submodule ".vim/bundle/distinguished-theme"]
	path = .vim/bundle/distinguished-theme
	url = https://github.com/Lokaltog/vim-distinguished.git
  ignore = dirty
[submodule ".vim/bundle/vim-emblem"]
	path = .vim/bundle/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem.git
  ignore = dirty
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
  ignore = dirty
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim
  ignore = dirty
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
  ignore = dirty
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
  ignore = dirty
[submodule ".vim/bundle/tmuxline.vim"]
	path = .vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
  ignore = dirty
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
  ignore = dirty
[submodule "syntastic2"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
  ignore = dirty
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
  ignore = dirty
[submodule ".vim/bundle/emmet-vi"]
	path = .vim/bundle/emmet-vi
	url = https://github.com/mattn/emmet-vim.git
  ignore = dirty
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-jsx-pretty"]
	path = .vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
  ignore = dirty
[submodule ".vim/bundle/alchemist"]
	path = .vim/bundle/alchemist
	url = https://github.com/slashmili/alchemist.vim.git
  ignore = dirty
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
  ignore = dirty
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
  ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
  ignore = dirty
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule ".vim/bundle/vim-styled-components"]
	path = .vim/bundle/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components/
  ignore = dirty
[submodule ".vim/bundle/coc.nvim"]
	path = .vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
  ignore = dirty
[submodule ".vim/bundle/coc-snippets"]
	path = .vim/bundle/coc-snippets
	url = https://github.com/neoclide/coc-snippets.git
  ignore = dirty
[submodule ".vim/bundle/ember-vim-snippets"]
	path = .vim/bundle/ember-vim-snippets
	url = https://github.com/josemarluedke/ember-vim-snippets.git
  ignore = dirty
[submodule ".vim/bundle/vim-prettier"]
	path = .vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
  ignore = dirty
